#notifications-group {
	overflow: visible;
}
.notification-ball {
	border-radius: 50%;
	background: radial-gradient(white, transparent);
	aspect-ratio: 1 / 1;
	width: 10px;
	position: absolute;
}
#notifications-group[notification-count]::before {
	content: attr(notification-count);
	position: absolute;
	top: -20%;
	right: -20%;
	border-radius: 50%;
	aspect-ratio: 1 / 1;
	width: 16px;
	height: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #f00;
	z-index: 1000;
	font-size: 13px;
	font-weight: bold;
	outline: 2px solid #0004;
}
#notifications-group[notification-count="0"]::before {
	display: none;
}


.group-menu-container {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	z-index: 500;
}

.group-menu {
	position: fixed;
	left: 80px;
	background: var(--color-background-primary);
	border-radius: 5px;
	border: 1px solid gray;
	overflow-y: auto;
	transition: 0.2s ease-out;
	transition-property: transform, opacity;
}
#notifications-menu {
	display: flex;
	flex-direction: column-reverse;
	width: 400px;
	bottom: 50px;
	padding: 10px;
	min-height: 100px;
}
#status-menu {
	bottom: 50px;
	display: flex;
	flex-direction: column;
	padding: 10px;
	gap: 5px;
}

.group-menu-container:not(.visible) .group-menu {
	transform: translateX(-40px);
	transition-timing-function: ease-in;
	opacity: 0;
	max-height: 500px;
}
.group-menu-container:not(.visible) {
	pointer-events: none;
}
#notifications-menu:empty:before {
	content: 'No unread notifications.';
	position: absolute;
	white-space: pre-wrap;
	font-style: italic;
	left: 50%;
	top: 50%;
	color: gray;
	transform: translate(-50%, -50%);
}

.notification {
	padding: 5px 10px;
	cursor: pointer;
	user-select: none;
}
.notification:hover {
	background: #fff2;
	border-radius: 5px;
}
