#titlebar-container {
	display: none;
	justify-content: space-between;
	padding: 10px;
	border-bottom: 1px solid #fff2;
	background: #0005;
}

@keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@media (max-width: 900px) {
	#all-groups-container,
	#group-programs-container,
	#program-members-container,
	.responsive-sidebar-toggle,
	#current-program-container {
		transition: opacity 0.2s ease-in-out;
	}
	body:not(:has(#responsive-groups-sidebar-toggle:checked)) #group-programs-container,
	body:not(:has(#responsive-members-sidebar-toggle:checked)) #program-members-container,
	body:has(.responsive-sidebar-toggle:checked) #current-program-container {
		opacity: 0 !important;
		pointer-events: none;
		position: absolute;
	}
	body:not(:has(#responsive-groups-sidebar-toggle:checked)) #all-groups-container {
		display: none;
	}
	
	#current-program-container {
		position: absolute;
		z-index: -100;
	}
	
	
	.wallpaper {
		transform: translateX(0);
		transition: transform 0.5s ease-out;
	}
	body:has(#responsive-groups-sidebar-toggle:checked) .wallpaper {
		transform: translateX(20px);
	}
	body:has(#responsive-members-sidebar-toggle:checked) .wallpaper {
		transform: translateX(-20px);
	}
	
	body:not(:has(#program-members-container)) #responsive-members-sidebar-toggle {
		visibility: hidden;
	}
	
	#current-group-container {
		justify-content: center;
	}
	.sidebar {
		width: calc(100% - 10px);
		box-sizing: border-box;
		margin: 0;
	}
	#titlebar-container {
		display: flex;
	}
	body:has(.responsive-sidebar-toggle:checked) .responsive-sidebar-toggle:not(:checked) {
		visibility: hidden;
	}
	.context-menu-overlay {
		background: #0005;
		animation: fadein 0.2s ease-out;
	}
	
	/*
		.context-menu-overlay:before {
			content: "";
			position: fixed;
			left: var(--x);
			top: var(--y);
			background: radial-gradient(closest-side, #fffc, #fff0);
			width: 16px;
			height: 16px;
			opacity: 0.9;
			transform: translate(-50%, -50%);
		}
	*/
	
	.context-menu {
		transform: translate(-50%, -50%) !important;
		left: 50%;
		top: 50%;
		width: 80%;
		box-sizing: border-box;
		border-radius: 5px;
	}

	.context-menu-option {
		padding-bottom: 10px;
		padding-top: 10px;
		padding-left: 40px;
	}
}

@media (max-width: 370px) {
	body:before {
		content: "Your screen is too small to display this app. Please make the window larger, or zoom out.";
		position: fixed;
		left: 0;
		top: 0;
		width: 100vw;
		height: 100vh;
		padding: 30px;
		box-sizing: border-box;
		text-align: center;
		display: flex;
		align-items: center;
		z-index: 1000;
		background: var(--color-background-primary);
	}
	#app-container {
		display: none;
	}
}
