
# Lighthouse directories
cache/
config/

# Node.JS
node_modules
package-lock.json

# VSCode / VSCodium
.termdbms/
.vscode/
workspace.code-workspace

# Discord integration
server/discord-token.txt

# WIP
server-old/
assets-old/
