:root {
	--color-background-primary: hsl(220deg, 20%, 80%);
	--color-background-secondary: hsl(220deg, 10%, 90%);
	--color-background-tertiary: hsl(220deg, 5%, 80%);
	
	--color-button-primary: hsl(220deg, 100%, 85%);
	--color-button-text-primary: black;
	--color-button-secondary: hsl(220deg, 10%, 20%);
	--color-button-text-secondary: white;
	
	--color-input-primary: hsl(220deg, 5%, 100%);
	--quick-transition: 0.025s ease-in-out;
	
	--separator-color-primary: #fff5;
	
}

body {
	color: #222;
}

.message-date-marker {
	color: #666;
}

.context-menu, .context-menu .submenu {
	background: #ddd;
	border-color: #555;
}

.group .icon {
	opacity: 0.5;
}
.group-title-container {
	font-weight: bold;
	background: #fff8;
}
