
@keyframes loading-ball-sizing {
	
	0% {
		
		transform: scale(1);
		background: var(--bg2);
		top: 2px;
		
	}
	50% {
		
		transform: scale(0.5);
		background: var(--bg1);
		top: -4px;
	}
	100% {
		transform: scale(1);
		background: var(--bg2);
		top: 2px;
	}
	
}
@keyframes loading-ball-movement {
	
	0% {
		left: 10px;
	}
	50% {
		left: -10px;
	}
	100% {
		left: 10px;
	}
	
}

.loading-screen {
	background: #0008;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: opacity 0.2s ease-in-out;
	cursor: progress;
}

.loading-screen-wrap {
	position: relative;
	width: 10px;
	height: 10px;
	--bg1: #fff8;
	--bg2: #fff;
}

.loading-screen.is-removing {
	opacity: 0;
}
@starting-style {
	.loading-screen {
		opacity: 0;
	}
}

.loading-screen-wrap::before, .loading-screen-wrap:after {
	content: "";
	position: absolute;
	animation: 2s ease-in-out infinite;
	animation-name: loading-ball-sizing, loading-ball-movement;
	animation-duration: 1s, 1s;
	animation-delay: -0.25s, 0s;
	width: 10px;
	height: 10px;
	background: var(--bg2);
	display: inline-block;
}


.loading-screen-wrap::after {
	animation-delay: -0.75s, -0.5s;
}