
.client-pane {
	transition: 0.4s ease-out;
	transition-property: opacity, transform;
}

@starting-style {
	.client-pane {
		opacity: 0;
		transform: translateY(32px);
	}
}

.client-pane.is-removing {
	transition-timing-function: ease-in;
	transform: translateY(-32px);
	opacity: 0;
}
