
:root {
	--text-message-spacing-from-pfp: 8px;
}

.messages-screen {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 100%;
	width: 100%;
	position: absolute;
}

.messages-screen:before {
	content: "";
	position: absolute;
	z-index: -100;
	opacity: 0.8;
	inset: 6px;
	background: var(--color-background-primary);
	border-radius: 10px;
}

.messages-screen .messages {
	width: 100%;
	max-height: 100%;
	padding-bottom: 20px;
	overflow-y: scroll;
}

.message.is-not-first .sender {
	display: none;
}

.message-date-marker {
	display: flex;
	padding: 10px;
	align-items: center;
	justify-content: space-around;
	color: var(--color-background-tertiary);
	font-weight: 600;
	user-select: none;
}
.message-date-marker:before, .message-date-marker:after {
	content: '';
	margin: 10px;
	background: currentColor;
	width: 100%;
	height: 1px;
}

.message.is-first {
	display: flex;
	flex-direction: column;
}
.message + .message.is-first {
	margin-top: 10px;
}

.message {
	padding-left: 10px;
	padding-bottom: 2px;
	padding-top: 2px;
	padding-right: 40px;
	display: flex;
	position: relative;
}
.message:hover {
	background: #0002;
}
.message .sender, .message .sender .user {
	display: contents;
}

.sender .user-name {
	user-select: none;
}

.sender .user {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.message.is-first {
	display: grid;
	flex-direction: column;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto auto;
	grid-template-areas: "pfp name" "pfp text";
}

.message .user .user-pfp {
	grid-area: pfp;
}

.message.is-first .message-content {
	margin-left: var(--text-message-spacing-from-pfp);
}

.message.is-first .message-time {
	display: none;
}

.messages-screen .message-box {
	flex: none;
	box-sizing: border-box;
	margin: 5px;
	margin-top: 0;
}

.message-box textarea {
	width: 100%;
	resize: none;
	box-sizing: border-box;
	border-radius: 10px;
	padding: 11px 11px;
	background: var(--color-background-secondary);
	margin: 0;
}
.message-box textarea:focus::placeholder {
	color: transparent;
}

.message-content {
	display: flex;
	width: 100%;
	white-space: pre-wrap;
	overflow-wrap: anywhere;
}
.message-time {
	width: 40px;
	display: inline-block;
	padding-right: 8px;
	text-align: center;
	color: transparent;
	user-select: none;
	transform: scale(0.7);
	white-space: nowrap;
}
.message:hover .message-time {
	color: gray;
}

.message-text {
	display: inline-block;
}

.message-content:has(.message-editor) .message-text {
	display: none;
}

.message-editor {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.message-editor textarea {
	height: fit-content;
	background: transparent;
	padding: 0;
	margin: 0;
	resize: none;
}
.message:has(textarea):before {
	content: "Editing";
	font-style: italic;
	color: #fff9;
	display: inline-flex;
	justify-content: flex-end;
	align-items: flex-start;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #ff03;
	z-index: -100;
	padding: 2px 20px;
	box-sizing: border-box;
	font-size: 0.8em;
}

.message-editor .buttons-container {
	display: flex;
	gap: 5px;
	padding-top: 5px;
}

.message-text:not([edits="0"])::after {
	content: "Message edited "attr(edits)" times";
	font-size: 0.7em;
	height: fit-content;
	display: inline-block;
	color: gray;
	margin: 0 5px;
}
.message-text[edits="1"]::after {
	content: "Message edited";
}
.load-wrapper:empty {
	height: 1000px;
	position: relative;
}
.load-wrapper:empty::before {
	content: "Loading history...";
	text-align: center;
	width: 100%;
	display: block;
	padding: 50px;
	box-sizing: border-box;
	color: gray;
	animation: blinkingBanner 2s ease-in-out infinite;
	background: linear-gradient(to bottom, #0000, #0008, #0000);
}

