
:root {
	--text-message-spacing-from-pfp: 8px;
}

.messages-screen {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 100%;
	width: 100%;
	position: absolute;
}

#app-container:has(.wallpaper) .messages-screen::before {
	content: "";
	position: absolute;
	z-index: -100;
	inset: 5px 2px;
	background: #0003;
	border-radius: 10px;
}

.messages-screen .messages {
	width: 100%;
	padding-bottom: 20px;
	box-sizing: border-box;
}

.message.is-not-first .sender {
	display: none;
}

.message-date-marker {
	display: flex;
	padding: 10px;
	align-items: center;
	justify-content: space-around;
	color: var(--color-background-tertiary);
	font-weight: 600;
	user-select: none;
}
.message-date-marker:before, .message-date-marker:after {
	content: '';
	margin: 10px;
	background: currentColor;
	width: 100%;
	height: 1px;
}

.message.is-first {
	display: flex;
	flex-direction: column;
}
.message + .message.is-first, .message.is-first:first-child {
	margin-top: 10px;
}

.message {
	padding-left: 10px;
	padding-bottom: 2px;
	padding-top: 2px;
	padding-right: 40px;
	display: flex;
	position: relative;
}
.message:hover {
	background: #0002;
}
.message .sender, .message .sender .user {
	display: contents;
}

.sender .user-name {
	user-select: none;
}

.sender .user {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.message.is-first {
	display: grid;
	flex-direction: column;
	grid-template-columns: auto auto 1fr;
	grid-template-rows: auto auto auto;
	grid-template-areas:
	"pfp name time"
	"pfp text text"
	"attachments attachments attachments";
}
.message.is-first:has(.reply-to) {
	grid-template-rows: auto auto auto auto;
	grid-template-areas:
	"reply reply reply"
	"pfp name time"
	"pfp text text"
	"attachments attachments attachments";
}

.message {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto auto;
	grid-template-areas:
	"text"
	"attachments";
}

.message .attachments {
	grid-area: attachments;
	margin-left: 48px;
}

.message .user .user-pfp {
	grid-area: pfp;
}
.message .user .user-pfp:after {
	display: none !important;
}

.message.is-first .message-content {
	/*margin-left: var(--text-message-spacing-from-pfp);*/
	display: contents;
}

.message.is-first .message-text {
	margin-left: var(--text-message-spacing-from-pfp);
	grid-area: text;
}
.message.is-first .message-time {
	grid-area: time;
}

.messages-screen .message-box {
	box-sizing: border-box;
	flex: none;
	display: flex;
	gap: 5px;
	margin: 5px;
	margin-top: 0;
}

.message-box textarea {
	width: 100%;
	resize: none;
	box-sizing: border-box;
	padding: 11px 11px;
	margin: 0;
}

.message-box textarea:focus::placeholder {
	color: transparent;
}

.message-box .upload-extra {
	aspect-ratio: 1 / 1;
	display: flex;
	justify-content: center;
	width: 40px;
	cursor: pointer;
}
.upload-extra input {
	display: none;
}

.message-box .upload-extra .icon {
	width: 24px;
}
.message-box > * {
	background: var(--color-background-secondary);
	border-radius: 10px;
}
.message-box > *:not(textarea) {
	flex: none;
}

.message-content {
	display: flex;
	width: 100%;
	white-space: pre-wrap;
	overflow-wrap: anywhere;
}
.message-time {
	width: 40px;
	display: inline-block;
	padding-right: 8px;
	text-align: center;
	color: transparent;
	user-select: none;
	transform: scale(0.7);
	white-space: nowrap;
	flex: none;
}
.message:hover .message-time,
.message.is-first .message-time {
	color: gray;
}

.message-text {
	display: inline-block;
}

.message:has(.message-text:empty):not(:has(.message-editor)) .user-name {
	height: 40px;
}
.message:has(.message-text:empty):not(:has(.message-editor)) .message-content {
	height: 0;
}

.message-content:has(.message-editor) .message-text {
	display: none;
}

.message-editor {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.message-editor textarea {
	height: fit-content;
	background: transparent;
	padding: 0;
	margin: 0;
	resize: none;
}
.message:has(textarea):before {
	content: "Editing";
	font-style: italic;
	color: #fff9;
	display: inline-flex;
	justify-content: flex-end;
	align-items: flex-start;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #ff03;
	z-index: -100;
	padding: 2px 20px;
	box-sizing: border-box;
	font-size: 0.8em;
}

.message-editor .buttons-container {
	display: flex;
	gap: 5px;
	padding-top: 5px;
}

.message-text:not([edits="0"])::after {
	content: "Message edited "attr(edits)" times";
	font-size: 0.7em;
	height: fit-content;
	display: inline-block;
	color: gray;
	margin: 0 5px;
}
.message-text[edits="1"]::after {
	content: "Message edited";
}
.load-wrapper:not(.loaded) {
	height: 1000px;
	position: relative;
}
.load-wrapper:not(.loaded)::before {
	content: "Loading history...";
	text-align: center;
	width: 100%;
	display: block;
	padding: 50px;
	box-sizing: border-box;
	color: gray;
	animation: blinkingBanner 2s ease-in-out infinite;
	background: linear-gradient(to bottom, #0000, #0008, #0000);
}

.chat-relative-container {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column-reverse;
	overflow-y: scroll;
}

.chat-relative-container > .attachments {
	display: flex;
	flex-direction: column;
	width: fit-content;
	position: absolute;
	right: 0;
	bottom: 0;
}



.attachment {
	/*aspect-ratio: 7 / 2;*/
	width: 300px;
	margin-bottom: 5px;
	margin-right: 5px;
	background: var(--color-background-secondary);
	border-radius: 5px;
	position: relative;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: space-between;
	user-select: none;
}

.attachment > .icon {
	width: 32px;
	height: 32px;
	border-radius: 5px;
	border: 1px solid #0005;
	background: #0004;
	background-image: url("/icons/file-earmark-fill.svg");
	background-size: 60%;
	background-repeat: no-repeat;
	background-position: center;
	flex: none;
	grid-area: icon;
	margin: 10px;
	margin-right: 0;
}


.message .attachment {
	margin-top: 2px;
}


.attachment .filename {
	user-select: none;
	color: inherit;
	text-decoration: none;
	grid-area: filename;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 100%;
	margin: 0 10px;
}


.attachment .filesize {
	white-space: nowrap;
	width: fit-content;
	flex: none;
	grid-area: size;
	opacity: 0.6;
	margin: 0 10px;
}

.attachment a.filename:hover {
	text-decoration: underline;
}

.attachment.image .image {
	object-fit: contain;
	width: 100%;
	height: 100%;
	grid-area: image;
}
.attachment.image {
	max-width: min(90vw, 480px);
	max-height: min(90vh, 480px);
	display: grid;
	grid-template-columns: auto 1fr auto;
	grid-template-rows: 1fr auto;
	grid-template-areas:
		"image image image"
		"icon filename size";
}
.attachment.image :is(.filename, .filesize) {
	margin: 5px;
}
.attachment.image > .icon {
	display: none;
}

.attachment.audio {
	display: grid;
	grid-template-columns: auto 1fr auto;
	grid-template-rows: auto auto;
	grid-template-areas:
		"icon filename size"
		"icon player player";
}
.attachment.audio .player {
	grid-area: player;
	padding: 0 10px;
	display: flex;
	align-items: center;
    gap: 5px;
}
.audio .player input[type="range"] {
	width: 100%;
	margin: 0;
}
.audio .player .pause-play-button {
    display: inline-flex;
    width: 18px;
    height: 18px;
    align-items: stretch;
    justify-content: center;
    flex: none;
	cursor: pointer;
}

.audio .player .pause-play-button:active {
	filter: brightness(0.7);
}

.audio .player .player-time {
    font-family: monospace;
}

.attachment[type="application/zip"] > .icon {
	background-image: url("/icons/file-earmark-zip-fill.svg");
}
.attachment[type*="audio/"] > .icon {
	background-image: url("/icons/soundwave.svg");
}

.attachment[in-progress] {
	background-image: linear-gradient(to right, #0000 calc(var(--progress) - 2%), #0009 var(--progress));
}


.attachment[error]::before {
	content: attr(error);
	background-image: var(--error-bg);
	background-color: #500c;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: block;
	animation: bannerAnimated 1s linear infinite;
}

.attachment[error]::after {
	content: "";
	background-image: url(/icons/x-circle.svg);
	filter: invert(1);
	width: 32px;
	height: 32px;
	position: absolute;
	background-size: cover;
	margin: 8px;
}

.attachment[error]::before {
	content: "Upload failed: "attr(error);
	display: flex;
	flex-direction: column-reverse;
	padding: 10px;
	box-sizing: border-box;
}

.attachment .delete-button {
	position: absolute;
	right: 5px;
	top: 5px;
	width: 16px;
	height: 16px;
	display: flex;
	padding: 5px;
	background: #0005;
	border-radius: 5px;
}

.attachment:not(:hover) .delete-button {
	opacity: 0;
}

.attachment .delete-button {
	transition: opacity 0.2s ease-out;
	cursor: pointer;
	border: 1px solid gray;
}



.typing-indicators {
	padding: 1px;
	margin-left: 5px;
	height: 26px;
	box-sizing: border-box;
	display: inline-block;
	font-size: 0.8em;
	flex: none;
}
.typing-indicators .user {
	display: inline-flex;
}
.typing-indicators .user-pfp {
	display: none;
}
.typing-indicators .user-name {
	margin: 0;
}


.replying-to {
    display: flex;
    justify-content: space-between;
    background: var(--color-background-secondary);
    margin: 5px;
    border-radius: 8px;
    align-items: center;
    padding: 8px;
	user-select: none;
}

.replyto-leftside {
    display: flex;
	white-space: pre;
}

.replying-to .user-pfp {
    display: none;
}
.replying-to .user-name {
	margin: 0;
}

.cancel-reply {
    height: 16px;
	cursor: pointer;
}



.reply-to {
	display: flex;
	position: relative;
	align-items: center;
	height: 18px;
	grid-area: reply;
	padding-left: 16px;
	padding-bottom: 8px;
	overflow: visible;
}

.reply-to .user-name {
	display: inline-flex;
	margin-right: 5px;
}

.reply-to .user-pfp {
	height: 100%;
	width: unset;
	aspect-ratio: 1 / 1;
}

.reply-to .user {
	height: 100%;
}

.reply-to::before {
	content: "";
	width: 16px;
	height: 8px;
	border: 1px solid gray;
	border-bottom: none;
	border-right: none;
	border-top-left-radius: 10px;
	margin-top: 8px;
	margin-right: 10px;
	flex: none;
}

.reply-text {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
