@keyframes bannerAnimated {
	
	0% {
		
		background-position-x: 0px;
		
	}
	100% {
		
		background-position-x: 14px;
		
	}
	
}
@keyframes blinkingBanner {
	
	0% {
		
		color: white;
		
	}
	50% {
		
		color: #fff9;
		
	}
	100% {
		
		color: white;
		
	}
	
}
.banner {
	padding: 15px;
	border: 1px solid #0005;
	font-size: 15px;
	justify-content: center;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	white-space: pre-wrap;
	transition: 0.2s ease-in-out;
	transition-property: opacity, height, padding, filter, transform;
	height:48px;
}
@starting-style {
	.banner {
		border-width: 0;
		opacity: 0;
		height: 0;
		transform: scaleX(0.8);
		padding: 0;
		filter: blur(10px);
	}
}
.banner.is-removing {
	opacity: 0;
	height: 0;
	transform: scaleX(0.8);
	padding: 0;
	filter: blur(10px);
	border-width: 0;
}
.banner.banner-type-error {
	background: repeating-linear-gradient(45deg, #f003 0px, #f003 5px, #f001 5px, #f001 10px);
	background-size: 14px;
	animation: bannerAnimated 1s linear infinite, blinkingBanner 2s ease-in-out infinite;
}