
.user {
	display: flex;
	align-items: center;
	column-gap: 6px;
}

.user-is-clickable {
	cursor: pointer;
}

.user:not(.user-is-clickable) .user-status {
	user-select: text;
}

.user-name {
	font-weight: bold;
}

.user-pfp {
	width: 40px;
	height: 40px;
	border-radius: 20%;
	background: var(--image);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	flex: none;
	position: relative;
}

.user-activity:not([activity="undefined"]) {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 30%;
	height: 30%;
	background: #ccc;
	transform: translate(25%, 25%);
	border-radius: 50%;
	outline: 2px solid #0005;
	box-sizing: border-box;
	box-shadow: 0px 0px 0px 1px inset #0006;
}

.user-activity[activity="online"] {
	background: #0c0;
}
.user-activity[activity="program"] {
	background: #09c;
}

.user-is-clickable .user-pfp:hover {
	filter: drop-shadow(0px 2px 2px #0008);
}
.user-is-clickable .user-pfp:active {
	transform: scale(0.9);
}